In [1]:
import sqlalchemy

In [2]:
sqlalchemy.__version__

'1.3.1'

In [4]:
from sqlalchemy import create_engine

In [6]:
engine = create_engine("sqlite:///:memory:", echo=True)
print(engine)

Engine(sqlite:///:memory:)

# SQL Alchemy
create_engine
sqlalchemy.create_engine(*args, **kwargs)

dialect+driver://username:password@host:port/database

sqlite:// <nohostname / path>
## where < path> is relative

In [7]:
from sqlalchemy import Table, Column, Integer, String, MetaData, ForeignKey

In [9]:
metadata = MetaData()
users = Table('users', metadata,
             Column('id', Integer, primary_key=True),
             Column('name', String),
             Column('fullname', String),
             )

addresses = Table('addresses', metadata,
                 Column('id', Integer, primary_key=True),
                 Column('user_id', None, ForeignKey('users.id')),
                 Column('email_address', String, nullable=False),
                 )

# metadata.create_all(engine)

In [10]:
metadata.tables
#수정 불가능(immutabledict)

immutabledict({'users': Table('users', MetaData(bind=None), Column('id', Integer(), table=<users>, primary_key=True, nullable=False), Column('name', String(), table=<users>), Column('fullname', String(), table=<users>), schema=None), 'addresses': Table('addresses', MetaData(bind=None), Column('id', Integer(), table=<addresses>, primary_key=True, nullable=False), Column('user_id', Integer(), ForeignKey('users.id'), table=<addresses>), Column('email_address', String(), table=<addresses>, nullable=False), schema=None)})

In [11]:
# 아직 바인드 안됨
metadata.bind

In [12]:
#sql로 번역되어 실행
metadata.create_all(engine)

2019-07-09 11:18:42,512 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2019-07-09 11:18:42,513 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 11:18:42,515 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2019-07-09 11:18:42,516 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 11:18:42,518 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("users")
2019-07-09 11:18:42,519 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 11:18:42,521 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("addresses")
2019-07-09 11:18:42,522 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 11:18:42,524 INFO sqlalchemy.engine.base.Engine
CREATE TABLE users (
	id INTEGER NOT NULL,
	name VARCHAR,
	fullname VARCHAR,
	PRIMARY KEY (id)
)


2019-07-09 11:18:42,525 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 11:18:42,526 INFO sqlalchemy.engine.base.Engine COMMIT
2019-07-09 11:18:42,527 INFO sqlalchemy.engine.base.Engine
CREATE TABLE addresses (
	id INTEGER NOT NULL,
	user_id INTEGER,
	email_address VARCHAR NOT NULL,
	PRIMARY KEY (id),
	FOREIGN KEY(user_id) REFERENCES users (id)
)


2019-07-09 11:18:42,528 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 11:18:42,530 INFO sqlalchemy.engine.base.Engine COMMIT

In [15]:
#data insert
insert = users.insert()
print(insert)

insert = users.insert().values(name='kim', fullname='Anonymous, Kim')
print(insert)

insert.compile().params

INSERT INTO users (id, name, fullname) VALUES (:id, :name, :fullname)
INSERT INTO users (name, fullname) VALUES (:name, :fullname)

{'name': 'kim', 'fullname': 'Anonymous, Kim'}

In [16]:
conn = engine.connect()
conn

insert.bind = engine
str(insert)

result = conn.execute(insert)

result.inserted_primary_key

2019-07-09 11:32:06,246 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname) VALUES (?, ?)
2019-07-09 11:32:06,248 INFO sqlalchemy.engine.base.Engine ('kim', 'Anonymous, Kim')
2019-07-09 11:32:06,249 INFO sqlalchemy.engine.base.Engine COMMIT

[1]

In [17]:
insert = users.insert()

result = conn.execute(insert, name='lee', fullname='Unkown, Lee')
result.inserted_primary_key

2019-07-09 11:33:44,008 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname) VALUES (?, ?)
2019-07-09 11:33:44,009 INFO sqlalchemy.engine.base.Engine ('lee', 'Unkown, Lee')
2019-07-09 11:33:44,011 INFO sqlalchemy.engine.base.Engine COMMIT

[2]

In [19]:
conn.execute(addresses.insert(), [
    {"user_id":1, "email_address":"anonymous.kim@naver.com"},
    {"user_id":2, "email_address": "unknown.lee@test.kr"}
])

2019-07-09 11:36:14,449 INFO sqlalchemy.engine.base.Engine INSERT INTO addresses (user_id, email_address) VALUES (?, ?)
2019-07-09 11:36:14,450 INFO sqlalchemy.engine.base.Engine ((1, 'anonymous.kim@naver.com'), (2, 'unknown.lee@test.kr'))
2019-07-09 11:36:14,451 INFO sqlalchemy.engine.base.Engine COMMIT

In [20]:
users

Table('users', MetaData(bind=None), Column('id', Integer(), table=<users>, primary_key=True, nullable=False), Column('name', String(), table=<users>), Column('fullname', String(), table=<users>), schema=None)

In [21]:
from sqlalchemy.sql import select

query = select([users])
result = conn.execute(query)

for row in result:
    print(row)

2019-07-09 11:44:58,183 INFO sqlalchemy.engine.base.Engine SELECT users.id, users.name, users.fullname
FROM users
2019-07-09 11:44:58,185 INFO sqlalchemy.engine.base.Engine ()
(1, 'kim', 'Anonymous, Kim')
(2, 'lee', 'Unkown, Lee')

In [23]:
cur = conn.execute(select([users]))
cur.fetchall()

2019-07-09 11:45:58,750 INFO sqlalchemy.engine.base.Engine SELECT users.id, users.name, users.fullname
FROM users
2019-07-09 11:45:58,752 INFO sqlalchemy.engine.base.Engine ()

[(1, 'kim', 'Anonymous, Kim'), (2, 'lee', 'Unkown, Lee')]

In [28]:
from sqlalchemy import and_, or_, not_
print(users.c.id == addresses.c.user_id)
print(users.c.id == 1)
print((users.c.id == 1).compile().params)
print(or_(users.c.id ==
         addresses.c.user_id, users.c.id == 1))
print(and_(users.c.id ==
         addresses.c.user_id, users.c.id == 1))

users.id = addresses.user_id
users.id = :id_1
{'id_1': 1}
users.id = addresses.user_id OR users.id = :id_1
users.id = addresses.user_id AND users.id = :id_1

In [29]:
result = conn.execute(select([users]).where(users.c.id==1))

for row in result:
    print(row)
    
result = conn.execute(select([users, addresses]).where(users.c.id==addresses.c.user_id))
for row in result:
    print(row)

2019-07-09 13:19:32,065 INFO sqlalchemy.engine.base.Engine SELECT users.id, users.name, users.fullname
FROM users
WHERE users.id = ?
2019-07-09 13:19:32,066 INFO sqlalchemy.engine.base.Engine (1,)
(1, 'kim', 'Anonymous, Kim')
2019-07-09 13:19:32,069 INFO sqlalchemy.engine.base.Engine SELECT users.id, users.name, users.fullname, addresses.id, addresses.user_id, addresses.email_address
FROM users, addresses
WHERE users.id = addresses.user_id
2019-07-09 13:19:32,069 INFO sqlalchemy.engine.base.Engine ()
(1, 'kim', 'Anonymous, Kim', 1, 1, 'anonymous.kim@naver.com')
(2, 'lee', 'Unkown, Lee', 2, 2, 'unknown.lee@test.kr')

In [30]:
from sqlalchemy import join

print(users.join(addresses))

print(users.join(addresses, users.c.id == addresses.c.user_id))

users JOIN addresses ON users.id = addresses.user_id
users JOIN addresses ON users.id = addresses.user_id

In [33]:
query = select([users.c.id, users.c.fullname, addresses.c.email_address]).select_from(users.join(addresses))

result = conn.execute(query).fetchall()

for row in result:
    print(row)

2019-07-09 13:26:16,080 INFO sqlalchemy.engine.base.Engine SELECT users.id, users.fullname, addresses.email_address
FROM users JOIN addresses ON users.id = addresses.user_id
2019-07-09 13:26:16,081 INFO sqlalchemy.engine.base.Engine ()
(1, 'Anonymous, Kim', 'anonymous.kim@naver.com')
(2, 'Unkown, Lee', 'unknown.lee@test.kr')

In [34]:
#날리기
metadata.clear()

In [37]:
artist = Table("Artist", metadata,
              Column("id", Integer, primary_key=True),
              Column("name", String, nullable=False),
              extend_existing=True)

album = Table("Album", metadata,
             Column("id", Integer, primary_key=True),
             Column("title", String, nullable=False),
             Column("artist_id", Integer, ForeignKey("Artist.id")),
             extend_existing=True)

genre = Table("Genre", metadata,
             Column("id", Integer, primary_key=True),
             Column("name", String, nullable=False),
             extend_existing=True)

track = Table("Track", metadata,
             Column("id", Integer, primary_key=True),
             Column("title", String, nullable=False),
             Column("length", Integer, nullable=False),
             Column("rating", Integer, nullable=False),
             Column("count", Integer, nullable=False),
             Column("album_id", Integer, ForeignKey("Album.id")),
             Column("genre_id", Integer, ForeignKey("Genre.id")),
             extend_existing=True)

metadata.create_all(engine)

2019-07-09 13:43:34,112 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Artist")
2019-07-09 13:43:34,113 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 13:43:34,114 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Album")
2019-07-09 13:43:34,115 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 13:43:34,117 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Genre")
2019-07-09 13:43:34,118 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 13:43:34,120 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Track")
2019-07-09 13:43:34,120 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 13:43:34,122 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Artist" (
	id INTEGER NOT NULL,
	name VARCHAR NOT NULL,
	PRIMARY KEY (id)
)


2019-07-09 13:43:34,123 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 13:43:34,125 INFO sqlalchemy.engine.base.Engine COMMIT
2019-07-09 13:43:34,126 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Genre" (
	id INTEGER NOT NULL,
	name VARCHAR NOT NULL,
	PRIMARY KEY (id)
)


2019-07-09 13:43:34,127 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 13:43:34,129 INFO sqlalchemy.engine.base.Engine COMMIT
2019-07-09 13:43:34,130 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Album" (
	id INTEGER NOT NULL,
	title VARCHAR NOT NULL,
	artist_id INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(artist_id) REFERENCES "Artist" (id)
)


2019-07-09 13:43:34,131 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 13:43:34,132 INFO sqlalchemy.engine.base.Engine COMMIT
2019-07-09 13:43:34,134 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Track" (
	id INTEGER NOT NULL,
	title VARCHAR NOT NULL,
	length INTEGER NOT NULL,
	rating INTEGER NOT NULL,
	count INTEGER NOT NULL,
	album_id INTEGER,
	genre_id INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(album_id) REFERENCES "Album" (id),
	FOREIGN KEY(genre_id) REFERENCES "Genre" (id)
)


2019-07-09 13:43:34,135 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 13:43:34,136 INFO sqlalchemy.engine.base.Engine COMMIT

In [39]:
conn.execute(artist.insert(),[
    {"name":"Led Zepplin"},
    {"name":"AC/DC"}
])

conn.execute(album.insert(),[
    {"title":"IV", "artist_id":1},
    {"title":"Who Made Who", "artist_id":2}
])

conn.execute(genre.insert(),[
    {"name":"Rock"},
    {"name":"Metal"}
])

conn.execute(track.insert(),[
    {"title":"Black Dog", "rating":5, "length":297, "count":0, "album_id":1, "genre_id":1},
    {"title":"Stairway", "rating":5, "length":482, "count":0, "album_id":1, "genre_id":1},
    {"title":"About to rock", "rating":5, "length":313, "count":0, "album_id":2, "genre_id":2},
    {"title":"Who made Who", "rating":5, "length":297, "count":0, "album_id":2, "genre_id":2},
])

2019-07-09 13:50:54,312 INFO sqlalchemy.engine.base.Engine INSERT INTO "Artist" (name) VALUES (?)
2019-07-09 13:50:54,314 INFO sqlalchemy.engine.base.Engine (('Led Zepplin',), ('AC/DC',))
2019-07-09 13:50:54,315 INFO sqlalchemy.engine.base.Engine COMMIT
2019-07-09 13:50:54,317 INFO sqlalchemy.engine.base.Engine INSERT INTO "Album" (title, artist_id) VALUES (?, ?)
2019-07-09 13:50:54,318 INFO sqlalchemy.engine.base.Engine (('IV', 1), ('Who Made Who', 2))
2019-07-09 13:50:54,319 INFO sqlalchemy.engine.base.Engine COMMIT
2019-07-09 13:50:54,322 INFO sqlalchemy.engine.base.Engine INSERT INTO "Genre" (name) VALUES (?)
2019-07-09 13:50:54,323 INFO sqlalchemy.engine.base.Engine (('Rock',), ('Metal',))
2019-07-09 13:50:54,325 INFO sqlalchemy.engine.base.Engine COMMIT
2019-07-09 13:50:54,327 INFO sqlalchemy.engine.base.Engine INSERT INTO "Track" (title, length, rating, count, album_id, genre_id) VALUES (?, ?, ?, ?, ?, ?)
2019-07-09 13:50:54,329 INFO sqlalchemy.engine.base.Engine (('Black Dog', 297, 5, 0, 1, 1), ('Stairway', 482, 5, 0, 1, 1), ('About to rock', 313, 5, 0, 2, 2), ('Who made Who', 297, 5, 0, 2, 2))
2019-07-09 13:50:54,330 INFO sqlalchemy.engine.base.Engine COMMIT

In [40]:
tables = metadata.tables
for table in tables:
    print(table)

Artist
Album
Genre
Track

In [41]:
print(track.join(album))
print(track.join(album).join(genre))
print(track.join(album).join(artist))
print(track.join(album).join(genre).join(artist))

result = conn.execute(select([track.c.title, album.c.title, genre.c.name, artist.c.name])
                     .select_from(track.join(album).join(genre).join(artist)))

for row in result.fetchall():
    print(row)

"Track" JOIN "Album" ON "Album".id = "Track".album_id
"Track" JOIN "Album" ON "Album".id = "Track".album_id JOIN "Genre" ON "Genre".id = "Track".genre_id
"Track" JOIN "Album" ON "Album".id = "Track".album_id JOIN "Artist" ON "Artist".id = "Album".artist_id
"Track" JOIN "Album" ON "Album".id = "Track".album_id JOIN "Genre" ON "Genre".id = "Track".genre_id JOIN "Artist" ON "Artist".id = "Album".artist_id
2019-07-09 14:18:07,849 INFO sqlalchemy.engine.base.Engine SELECT "Track".title, "Album".title, "Genre".name, "Artist".name
FROM "Track" JOIN "Album" ON "Album".id = "Track".album_id JOIN "Genre" ON "Genre".id = "Track".genre_id JOIN "Artist" ON "Artist".id = "Album".artist_id
2019-07-09 14:18:07,850 INFO sqlalchemy.engine.base.Engine ()
('Black Dog', 'IV', 'Rock', 'Led Zepplin')
('Stairway', 'IV', 'Rock', 'Led Zepplin')
('About to rock', 'Who Made Who', 'Metal', 'AC/DC')
('Who made Who', 'Who Made Who', 'Metal', 'AC/DC')

In [50]:
#커낵션 닫기
conn.close()
metadata.clear()

In [46]:
#엔진에는 테이블 살아있음
for table in engine.table_names():
    print(table)

2019-07-09 14:22:01,269 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2019-07-09 14:22:01,271 INFO sqlalchemy.engine.base.Engine ()
Album
Artist
Genre
Track
addresses
users

In [45]:
tables = metadata.tables
for table in tables:
    print(table)

In [47]:
from sqlalchemy import create_engine, MetaData

engine = create_engine("sqlite:///alchemy_core.db", echo=True)
conn = engine.connect()

metadata = MetaData(bind=engine, reflect=True)
metadata.reflect(bind=engine)

for row in metadata.tables:
    print(row)

2019-07-09 14:24:54,290 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2019-07-09 14:24:54,291 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:24:54,292 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2019-07-09 14:24:54,293 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:24:54,297 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2019-07-09 14:24:54,298 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:24:54,300 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2019-07-09 14:24:54,301 INFO sqlalchemy.engine.base.Engine ()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SADeprecationWarning: The MetaData.reflect flag is deprecated and will be removed in a future release.   Please use the MetaData.reflect() method.

In [48]:
tables = metadata.tables
for table in tables:
    print(table)

In [51]:
from sqlalchemy import create_engine, MetaData

engine = create_engine("sqlite:///alchemy_core.db", echo=True)

from sqlalchemy.ext.declarative import declarative_base

base = declarative_base()

In [52]:
class User(base):
    __tablename__ = "users"
    
    id = Column(Integer, primary_key=True)
    name = Column(String)
    fullname = Column(String)
    password = Column("passwd", String)
    
    def __repr__(self):
        return "<T'User(name='%s', fullname= '%s', password='%s')>"\
    %(self.name, self.fullname, self.password)

In [53]:
User.__table__

Table('users', MetaData(bind=None), Column('id', Integer(), table=<users>, primary_key=True, nullable=False), Column('name', String(), table=<users>), Column('fullname', String(), table=<users>), Column('passwd', String(), table=<users>), schema=None)

In [55]:
base.metadata.create_all(engine)

2019-07-09 14:34:11,136 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2019-07-09 14:34:11,137 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:34:11,138 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2019-07-09 14:34:11,139 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:34:11,142 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("users")
2019-07-09 14:34:11,143 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:34:11,146 INFO sqlalchemy.engine.base.Engine
CREATE TABLE users (
	id INTEGER NOT NULL,
	name VARCHAR,
	fullname VARCHAR,
	passwd VARCHAR,
	PRIMARY KEY (id)
)


2019-07-09 14:34:11,147 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:34:11,156 INFO sqlalchemy.engine.base.Engine COMMIT

In [56]:
kim = User(name="kim", fullname="annonymous, Kim", password="kimbap heaven")

print(kim)
print(kim.id)

<T'User(name='kim', fullname= 'annonymous, Kim', password='kimbap heaven')>
None

In [57]:
from sqlalchemy.orm import sessionmaker

Session = sessionmaker(bind=engine)
session = Session()

In [58]:
session.add(kim)

session.add_all([
    User(name="lee", fullname="unknown, Lee", password="123456789a"),
    User(name="park", fullname="nobody, Park", password="Parking in Park")
])

In [59]:
print(kim.id)

None

In [60]:
session.commit()

2019-07-09 14:47:23,533 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-07-09 14:47:23,536 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname, passwd) VALUES (?, ?, ?)
2019-07-09 14:47:23,537 INFO sqlalchemy.engine.base.Engine ('kim', 'annonymous, Kim', 'kimbap heaven')
2019-07-09 14:47:23,543 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname, passwd) VALUES (?, ?, ?)
2019-07-09 14:47:23,545 INFO sqlalchemy.engine.base.Engine ('lee', 'unknown, Lee', '123456789a')
2019-07-09 14:47:23,546 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname, passwd) VALUES (?, ?, ?)
2019-07-09 14:47:23,548 INFO sqlalchemy.engine.base.Engine ('park', 'nobody, Park', 'Parking in Park')
2019-07-09 14:47:23,549 INFO sqlalchemy.engine.base.Engine COMMIT

In [61]:
#비번 바꾸기

kim.password = 'password'

session.dirty

session.is_modified(kim)

True

In [62]:
session.commit()

2019-07-09 14:51:53,256 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-07-09 14:51:53,260 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname
FROM users
WHERE users.id = ?
2019-07-09 14:51:53,262 INFO sqlalchemy.engine.base.Engine (1,)
2019-07-09 14:51:53,265 INFO sqlalchemy.engine.base.Engine UPDATE users SET passwd=? WHERE users.id = ?
2019-07-09 14:51:53,266 INFO sqlalchemy.engine.base.Engine ('password', 1)
2019-07-09 14:51:53,270 INFO sqlalchemy.engine.base.Engine COMMIT