In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

## ORM
2.1. ORM 소개
- ORM stands object relational mapping

- Why use ORM
    - Automatically mapping the database to usiness objects
    - Programmers focus more on business problems and less with data storage 
    
- 질문 추가시 
    - 질문 들록
    - 태그 등록
            - 태그 풀에서 해당 태그 ID 가져오기
            - 태그 풀에서 해당 태그 수 증감하기 
                -> 테이블 간의 관계뽀다 데이터베이스 대한 처리에 집중 

- 객체-관계로 접근

2.2 SQL Alchemy 
- SQL Alchemy is a well-regarded database toolkit and ORM implementation written in Python.=

- SQL Core
    - Engine : Starting point
    - Dialect
    - Connection Pool
    
-> 객체와 객체의 foreign key를 매핑시켜줬기 때문에 join을 알아서 하게된다.

In [2]:
# pip install sqlalchemy

In [1]:
import sqlalchemy

In [4]:
sqlalchemy.__version__

'1.3.1'

In [5]:
# create engine
# sqlalchemy.create_engine(*args, **kwargs)

# [경로지정방법]
# dialect+driver://username:password@host:port/database
# sqlite://<nohostname>/<path>
# engine=create_engine('sqlite:///foo.db')

In [6]:
from sqlalchemy import create_engine

engine = create_engine("sqlite://", echo=True)
# engine = create_engine("sqlite:///:memory:",echo=True)
# engine = create_engine("sqlite:///test.db",echo=True)

print(engine)

# lazy connecting

Engine(sqlite://)

In [7]:
type(engine)

sqlalchemy.engine.base.Engine

- Create
    - Table 
        객체
    - Column
        객체
    - MetaData: A collection of Table objects (table & column 연결)

In [8]:
from sqlalchemy import Table, Column, Integer, String, MetaData, ForeignKey

metadata = MetaData()
users = Table('users', metadata,
           Column('id',Integer, primary_key=True),
           Column('name',String),
           Column('fullname',String),
)
addresses = Table('addresses', metadata,
                 Column('id', Integer, primary_key=True),
                 Column('user_id', None, ForeignKey('users.id')),
                 Column('email_address', String, nullable=False)
)

# metadata.create_all(engine)

In [9]:
metadata.tables

immutabledict({'users': Table('users', MetaData(bind=None), Column('id', Integer(), table=<users>, primary_key=True, nullable=False), Column('name', String(), table=<users>), Column('fullname', String(), table=<users>), schema=None), 'addresses': Table('addresses', MetaData(bind=None), Column('id', Integer(), table=<addresses>, primary_key=True, nullable=False), Column('user_id', Integer(), ForeignKey('users.id'), table=<addresses>), Column('email_address', String(), table=<addresses>, nullable=False), schema=None)})

In [10]:
metadata.create_all(engine) # commit 까지 해준다. -> 수정안된다. 

# 수정하고 싶으면 처음부터 다시 만들어야한다.

2019-07-09 15:52:48,376 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2019-07-09 15:52:48,378 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 15:52:48,379 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2019-07-09 15:52:48,381 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 15:52:48,383 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("users")
2019-07-09 15:52:48,384 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 15:52:48,386 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("addresses")
2019-07-09 15:52:48,387 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 15:52:48,390 INFO sqlalchemy.engine.base.Engine
CREATE TABLE users (
	id INTEGER NOT NULL,
	name VARCHAR,
	fullname VARCHAR,
	PRIMARY KEY (id)
)


2019-07-09 15:52:48,392 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 15:52:48,393 INFO sqlalchemy.engine.base.Engine COMMIT
2019-07-09 15:52:48,395 INFO sqlalchemy.engine.base.Engine
CREATE TABLE addresses (
	id INTEGER NOT NULL,
	user_id INTEGER,
	email_address VARCHAR NOT NULL,
	PRIMARY KEY (id),
	FOREIGN KEY(user_id) REFERENCES users (id)
)


2019-07-09 15:52:48,397 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 15:52:48,398 INFO sqlalchemy.engine.base.Engine COMMIT

- Insert
    - Insert
        insert() construct 
    - compile
        Compile the SQL expression
        params

In [11]:
insert = users.insert()
print(insert)

insert = users.insert().values(
    name='kim', fullname='Anonymous, Kim')
print(insert)

insert.compile().params

INSERT INTO users (id, name, fullname) VALUES (:id, :name, :fullname)
INSERT INTO users (name, fullname) VALUES (:name, :fullname)

{'name': 'kim', 'fullname': 'Anonymous, Kim'}

- Executing
    - Connection
        a wrapped DB-API connection
        string-based SQL statements - compiled
    - execute
    - ResultProxy <- 임시 cursor object

In [12]:
conn= engine.connect()

conn
insert.bind=engine
str(insert)

result=conn.execute(insert)
result.inserted_primary_key

'INSERT INTO users (name, fullname) VALUES (?, ?)'

2019-07-09 15:52:48,457 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname) VALUES (?, ?)
2019-07-09 15:52:48,458 INFO sqlalchemy.engine.base.Engine ('kim', 'Anonymous, Kim')
2019-07-09 15:52:48,460 INFO sqlalchemy.engine.base.Engine COMMIT

[1]

In [13]:
# execute의 params 사용 (?)
insert = users.insert()
result = conn.execute(insert, name="lee", fullname="Unknown, Lee")

result.inserted_primary_key

2019-07-09 15:52:48,508 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname) VALUES (?, ?)
2019-07-09 15:52:48,511 INFO sqlalchemy.engine.base.Engine ('lee', 'Unknown, Lee')
2019-07-09 15:52:48,513 INFO sqlalchemy.engine.base.Engine COMMIT

[2]

In [14]:
# DBAPI의 executemany() 사용
conn.execute(addresses.insert(), [
    {"user_id":1, "email_address":"anonymous.kim@test.com"},
    {"user_id":2, "email_address":"unknown.lee@test.com"}
])

2019-07-09 15:52:48,553 INFO sqlalchemy.engine.base.Engine INSERT INTO addresses (user_id, email_address) VALUES (?, ?)
2019-07-09 15:52:48,555 INFO sqlalchemy.engine.base.Engine ((1, 'anonymous.kim@test.com'), (2, 'unknown.lee@test.com'))
2019-07-09 15:52:48,557 INFO sqlalchemy.engine.base.Engine COMMIT

- Select
sqlalchemy.sql.expression.select 
    - Construct a new Select 
    - columns, whereclause, from_obj, grop_by, order_by, ...

In [15]:
users # table

Table('users', MetaData(bind=None), Column('id', Integer(), table=<users>, primary_key=True, nullable=False), Column('name', String(), table=<users>), Column('fullname', String(), table=<users>), schema=None)

In [16]:
from sqlalchemy.sql import select

query = select([users]) # users -> list 
result = conn.execute(query)

for row in result:
    print(row)

2019-07-09 15:52:48,618 INFO sqlalchemy.engine.base.Engine SELECT users.id, users.name, users.fullname
FROM users
2019-07-09 15:52:48,621 INFO sqlalchemy.engine.base.Engine ()
(1, 'kim', 'Anonymous, Kim')
(2, 'lee', 'Unknown, Lee')

In [17]:
result=conn.execute(select([users]))
result.fetchall()

2019-07-09 15:52:48,645 INFO sqlalchemy.engine.base.Engine SELECT users.id, users.name, users.fullname
FROM users
2019-07-09 15:52:48,646 INFO sqlalchemy.engine.base.Engine ()

[(1, 'kim', 'Anonymous, Kim'), (2, 'lee', 'Unknown, Lee')]

In [18]:
# 특정 걸럼들 나타내기
result = conn.execute(select([users.c.name, users.c.fullname]))

for row in result:
    print(row)

2019-07-09 15:52:48,673 INFO sqlalchemy.engine.base.Engine SELECT users.name, users.fullname
FROM users
2019-07-09 15:52:48,675 INFO sqlalchemy.engine.base.Engine ()
('kim', 'Anonymous, Kim')
('lee', 'Unknown, Lee')

In [19]:
# - Conjunctions

from sqlalchemy import and_, or_, not_

print(users.c.id == addresses.c.user_id)
print(users.c.id == 1)
print((users.c.id == 1).compile().params)
print(or_(users.c.id == addresses.c.user_id, users.c.id == 1))
print(and_(users.c.id == addresses.c.user_id, users.c.id == 1))
print(and_(or_(users.c.id == addresses.c.user_id, users.c.id == 1), addresses.c.email_address.like("a%")))

users.id = addresses.user_id
users.id = :id_1
{'id_1': 1}
users.id = addresses.user_id OR users.id = :id_1
users.id = addresses.user_id AND users.id = :id_1
(users.id = addresses.user_id OR users.id = :id_1) AND addresses.email_address LIKE :email_address_1

In [20]:
# Selecting

result = conn.execute(select([users]).where(users.c.id == 1))
for row in result:
    print(row)
    
result == conn.execute(select([users, addresses]).where(users.c.id==addresses.c.user_id))
for row in result:
        print(row)

2019-07-09 15:52:48,733 INFO sqlalchemy.engine.base.Engine SELECT users.id, users.name, users.fullname
FROM users
WHERE users.id = ?
2019-07-09 15:52:48,734 INFO sqlalchemy.engine.base.Engine (1,)
(1, 'kim', 'Anonymous, Kim')
2019-07-09 15:52:48,739 INFO sqlalchemy.engine.base.Engine SELECT users.id, users.name, users.fullname, addresses.id, addresses.user_id, addresses.email_address
FROM users, addresses
WHERE users.id = addresses.user_id
2019-07-09 15:52:48,741 INFO sqlalchemy.engine.base.Engine ()

False

In [21]:
# join 

from sqlalchemy import join

print(users.join(addresses))

print(users.join(addresses, users.c.id == addresses.c.user_id))
# pk, fk 설정했기 때문에 on절이 필요가 없다. 
# - ON condition of the join, as it's called, was automatically generated based on the ForeignKey object

users JOIN addresses ON users.id = addresses.user_id
users JOIN addresses ON users.id = addresses.user_id

In [22]:
query = select([users.c.id, users.c.fullname, addresses.c.email_address]).select_from(users.join(addresses))

result = conn.execute(query).fetchall()
for row in result:
    print(row)

2019-07-09 15:52:48,801 INFO sqlalchemy.engine.base.Engine SELECT users.id, users.fullname, addresses.email_address
FROM users JOIN addresses ON users.id = addresses.user_id
2019-07-09 15:52:48,803 INFO sqlalchemy.engine.base.Engine ()
(1, 'Anonymous, Kim', 'anonymous.kim@test.com')
(2, 'Unknown, Lee', 'unknown.lee@test.com')

In [23]:
metadata.clear()

In [24]:
metadata.tables

immutabledict({})

In [25]:
# Create
artist = Table('Artist', metadata,
              Column('id', Integer, primary_key=True),
              Column('name',String, nullable =False),
              extend_existing=True
             )

album = Table('Album', metadata,
              Column('id', Integer, primary_key=True),
              Column('title',String, nullable =False),
              Column("artist_id", Integer, ForeignKey("Artist.id")),
              extend_existing=True
             )

genre = Table('Genre', metadata,
              Column('id', Integer, primary_key=True),
              Column('name',String, nullable =False),
              extend_existing=True
             )

track = Table('Track', metadata,
              Column('id', Integer, primary_key=True),
              Column('title',String, nullable =False),
              Column('length',Integer, nullable =False),
              Column('rating',Integer, nullable =False),
              Column('count',Integer, nullable =False),
              Column('album_id',Integer, ForeignKey("Album.id")),
              Column('genre_id',Integer, ForeignKey("Genre.id")),
              extend_existing=True
             )

In [26]:
metadata.create_all(engine)

2019-07-09 15:52:48,954 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Artist")
2019-07-09 15:52:48,956 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 15:52:48,958 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Album")
2019-07-09 15:52:48,958 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 15:52:48,960 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Genre")
2019-07-09 15:52:48,961 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 15:52:48,962 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Track")
2019-07-09 15:52:48,963 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 15:52:48,965 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Artist" (
	id INTEGER NOT NULL,
	name VARCHAR NOT NULL,
	PRIMARY KEY (id)
)


2019-07-09 15:52:48,966 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 15:52:48,968 INFO sqlalchemy.engine.base.Engine COMMIT
2019-07-09 15:52:48,969 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Genre" (
	id INTEGER NOT NULL,
	name VARCHAR NOT NULL,
	PRIMARY KEY (id)
)


2019-07-09 15:52:48,970 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 15:52:48,972 INFO sqlalchemy.engine.base.Engine COMMIT
2019-07-09 15:52:48,973 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Album" (
	id INTEGER NOT NULL,
	title VARCHAR NOT NULL,
	artist_id INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(artist_id) REFERENCES "Artist" (id)
)


2019-07-09 15:52:48,974 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 15:52:48,976 INFO sqlalchemy.engine.base.Engine COMMIT
2019-07-09 15:52:48,978 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Track" (
	id INTEGER NOT NULL,
	title VARCHAR NOT NULL,
	length INTEGER NOT NULL,
	rating INTEGER NOT NULL,
	count INTEGER NOT NULL,
	album_id INTEGER,
	genre_id INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(album_id) REFERENCES "Album" (id),
	FOREIGN KEY(genre_id) REFERENCES "Genre" (id)
)


2019-07-09 15:52:48,978 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 15:52:48,980 INFO sqlalchemy.engine.base.Engine COMMIT

In [27]:
# Show Tables 
tables = metadata.tables
for table in tables:
    print(table)
    
for table in engine.table_names():
    print(table)

Artist
Album
Genre
Track
2019-07-09 15:52:48,999 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2019-07-09 15:52:49,000 INFO sqlalchemy.engine.base.Engine ()
Album
Artist
Genre
Track
addresses
users

In [28]:
# Insert
conn.execute(artist.insert(),[
    {"name":"Led Zepplin"},
    {"name":"AC/DC"}   
])

conn.execute(album.insert(),[
    {"title":"IV", "artist_id":1},
    {"title":"Who Made Who", "artist_id":2}
])

conn.execute(genre.insert(),[
    {"name":"Rock"},
    {"name":"Metal"}   
])


conn.execute(track.insert(),[
    {"title":"Black Dog", "rating":5 , "length":297, "count":0, "album_id":1, "genre_id":1},
    {"title":"Stairway", "rating":5 , "length":482, "count":0, "album_id":1, "genre_id":1},
    {"title":"About to Rock", "rating":5 , "length":313, "count":0, "album_id":2, "genre_id":2},
    {"title":"Who Made Who", "rating":5 , "length":297, "count":0, "album_id":2, "genre_id":2}    
])

2019-07-09 15:52:49,031 INFO sqlalchemy.engine.base.Engine INSERT INTO "Artist" (name) VALUES (?)
2019-07-09 15:52:49,033 INFO sqlalchemy.engine.base.Engine (('Led Zepplin',), ('AC/DC',))
2019-07-09 15:52:49,034 INFO sqlalchemy.engine.base.Engine COMMIT

2019-07-09 15:52:49,042 INFO sqlalchemy.engine.base.Engine INSERT INTO "Album" (title, artist_id) VALUES (?, ?)
2019-07-09 15:52:49,043 INFO sqlalchemy.engine.base.Engine (('IV', 1), ('Who Made Who', 2))
2019-07-09 15:52:49,045 INFO sqlalchemy.engine.base.Engine COMMIT

2019-07-09 15:52:49,053 INFO sqlalchemy.engine.base.Engine INSERT INTO "Genre" (name) VALUES (?)
2019-07-09 15:52:49,055 INFO sqlalchemy.engine.base.Engine (('Rock',), ('Metal',))
2019-07-09 15:52:49,057 INFO sqlalchemy.engine.base.Engine COMMIT

2019-07-09 15:52:49,065 INFO sqlalchemy.engine.base.Engine INSERT INTO "Track" (title, length, rating, count, album_id, genre_id) VALUES (?, ?, ?, ?, ?, ?)
2019-07-09 15:52:49,067 INFO sqlalchemy.engine.base.Engine (('Black Dog', 297, 5, 0, 1, 1), ('Stairway', 482, 5, 0, 1, 1), ('About to Rock', 313, 5, 0, 2, 2), ('Who Made Who', 297, 5, 0, 2, 2))
2019-07-09 15:52:49,070 INFO sqlalchemy.engine.base.Engine COMMIT

In [29]:
tables = metadata.tables
for table in tables:
    print(table)

Artist
Album
Genre
Track

In [30]:
# select
artistResult = conn.execute(artist.select())
for row in artistResult:
    print(row)
    
albumResult = conn.execute(album.select())
for row in albumResult:
    print(row)
    
genreResult = conn.execute(genre.select())
for row in genreResult:
    print(row)
    
trackResult = conn.execute(track.select())
for row in trackResult:
    print(row)

2019-07-09 15:52:49,107 INFO sqlalchemy.engine.base.Engine SELECT "Artist".id, "Artist".name
FROM "Artist"
2019-07-09 15:52:49,109 INFO sqlalchemy.engine.base.Engine ()
(1, 'Led Zepplin')
(2, 'AC/DC')
2019-07-09 15:52:49,112 INFO sqlalchemy.engine.base.Engine SELECT "Album".id, "Album".title, "Album".artist_id
FROM "Album"
2019-07-09 15:52:49,113 INFO sqlalchemy.engine.base.Engine ()
(1, 'IV', 1)
(2, 'Who Made Who', 2)
2019-07-09 15:52:49,117 INFO sqlalchemy.engine.base.Engine SELECT "Genre".id, "Genre".name
FROM "Genre"
2019-07-09 15:52:49,118 INFO sqlalchemy.engine.base.Engine ()
(1, 'Rock')
(2, 'Metal')
2019-07-09 15:52:49,122 INFO sqlalchemy.engine.base.Engine SELECT "Track".id, "Track".title, "Track".length, "Track".rating, "Track".count, "Track".album_id, "Track".genre_id
FROM "Track"
2019-07-09 15:52:49,123 INFO sqlalchemy.engine.base.Engine ()
(1, 'Black Dog', 297, 5, 0, 1, 1)
(2, 'Stairway', 482, 5, 0, 1, 1)
(3, 'About to Rock', 313, 5, 0, 2, 2)
(4, 'Who Made Who', 297, 5, 0, 2, 2)

In [31]:
# where 
trackResult =conn.execute(select([track])
                         .where(
                         and_(track.c.album_id==1,
                             or_(track.c.genre_id==1,
                                track.c.genre_id==2,)
                             )
                         )
                         )
for row in trackResult:
    print(row)

2019-07-09 15:52:49,143 INFO sqlalchemy.engine.base.Engine SELECT "Track".id, "Track".title, "Track".length, "Track".rating, "Track".count, "Track".album_id, "Track".genre_id
FROM "Track"
WHERE "Track".album_id = ? AND ("Track".genre_id = ? OR "Track".genre_id = ?)
2019-07-09 15:52:49,145 INFO sqlalchemy.engine.base.Engine (1, 1, 2)
(1, 'Black Dog', 297, 5, 0, 1, 1)
(2, 'Stairway', 482, 5, 0, 1, 1)

In [32]:
# join
print(track.join(album))

result = conn.execute(track.select().select_from(track.join(album)))

for row in result.fetchall():
    print(row)
    
result = conn.execute(track.select().select_from(track.join(album)).where(album.c.id==1))

for row in result.fetchall():
    print(row)

"Track" JOIN "Album" ON "Album".id = "Track".album_id
2019-07-09 15:52:49,192 INFO sqlalchemy.engine.base.Engine SELECT "Track".id, "Track".title, "Track".length, "Track".rating, "Track".count, "Track".album_id, "Track".genre_id
FROM "Track" JOIN "Album" ON "Album".id = "Track".album_id
2019-07-09 15:52:49,193 INFO sqlalchemy.engine.base.Engine ()
(1, 'Black Dog', 297, 5, 0, 1, 1)
(2, 'Stairway', 482, 5, 0, 1, 1)
(3, 'About to Rock', 313, 5, 0, 2, 2)
(4, 'Who Made Who', 297, 5, 0, 2, 2)
2019-07-09 15:52:49,197 INFO sqlalchemy.engine.base.Engine SELECT "Track".id, "Track".title, "Track".length, "Track".rating, "Track".count, "Track".album_id, "Track".genre_id
FROM "Track" JOIN "Album" ON "Album".id = "Track".album_id
WHERE "Album".id = ?
2019-07-09 15:52:49,198 INFO sqlalchemy.engine.base.Engine (1,)
(1, 'Black Dog', 297, 5, 0, 1, 1)
(2, 'Stairway', 482, 5, 0, 1, 1)

In [33]:
print(track.join(album))
print(track.join(album).join(genre))
print(track.join(album).join(artist))
print(track.join(album).join(genre).join(artist))

result = conn.execute(select([track.c.title, album.c.title, genre.c.name, artist.c.name])
                     .select_from(track.join(album).join(genre).join(artist)))

for row in result.fetchall():
    print(row)
    
result = conn.execute(track
                     .select()
                     .select_from(track.join(album).join(genre).join(artist))
                     .where(
                     and_(
                     genre.c.id==1,
                     artist.c.id==1,
                     )
                     )
                     )

for row in result.fetchall():
    print(row)

"Track" JOIN "Album" ON "Album".id = "Track".album_id
"Track" JOIN "Album" ON "Album".id = "Track".album_id JOIN "Genre" ON "Genre".id = "Track".genre_id
"Track" JOIN "Album" ON "Album".id = "Track".album_id JOIN "Artist" ON "Artist".id = "Album".artist_id
"Track" JOIN "Album" ON "Album".id = "Track".album_id JOIN "Genre" ON "Genre".id = "Track".genre_id JOIN "Artist" ON "Artist".id = "Album".artist_id
2019-07-09 15:52:49,235 INFO sqlalchemy.engine.base.Engine SELECT "Track".title, "Album".title, "Genre".name, "Artist".name
FROM "Track" JOIN "Album" ON "Album".id = "Track".album_id JOIN "Genre" ON "Genre".id = "Track".genre_id JOIN "Artist" ON "Artist".id = "Album".artist_id
2019-07-09 15:52:49,236 INFO sqlalchemy.engine.base.Engine ()
('Black Dog', 'IV', 'Rock', 'Led Zepplin')
('Stairway', 'IV', 'Rock', 'Led Zepplin')
('About to Rock', 'Who Made Who', 'Metal', 'AC/DC')
('Who Made Who', 'Who Made Who', 'Metal', 'AC/DC')
2019-07-09 15:52:49,240 INFO sqlalchemy.engine.base.Engine SELECT "Track".id, "Track".title, "Track".length, "Track".rating, "Track".count, "Track".album_id, "Track".genre_id
FROM "Track" JOIN "Album" ON "Album".id = "Track".album_id JOIN "Genre" ON "Genre".id = "Track".genre_id JOIN "Artist" ON "Artist".id = "Album".artist_id
WHERE "Genre".id = ? AND "Artist".id = ?
2019-07-09 15:52:49,242 INFO sqlalchemy.engine.base.Engine (1, 1)
(1, 'Black Dog', 297, 5, 0, 1, 1)
(2, 'Stairway', 482, 5, 0, 1, 1)

In [34]:
# close
conn.close()
metadata.clear()

In [35]:
#엔진에는 테이블 살아있음
for table in engine.table_names():
    print(table)

2019-07-09 15:52:49,309 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2019-07-09 15:52:49,311 INFO sqlalchemy.engine.base.Engine ()
Album
Artist
Genre
Track
addresses
users

In [36]:
tables = metadata.tables
for table in tables:
    print(table)

In [37]:
from sqlalchemy import create_engine, MetaData

engine = create_engine("sqlite:///alchemy_core.db", echo=True)
conn = engine.connect()

metadata = MetaData(bind=engine, reflect=True)
metadata.reflect(bind=engine)

for row in metadata.tables:
    print(row)

2019-07-09 15:52:49,390 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2019-07-09 15:52:49,392 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 15:52:49,393 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2019-07-09 15:52:49,394 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 15:52:49,402 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2019-07-09 15:52:49,405 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 15:52:49,411 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("users")
2019-07-09 15:52:49,413 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 15:52:49,416 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'users' AND type = 'table'
2019-07-09 15:52:49,419 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 15:52:49,422 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("users")
2019-07-09 15:52:49,424 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 15:52:49,427 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'users' AND type = 'table'
2019-07-09 15:52:49,429 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 15:52:49,434 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("users")
2019-07-09 15:52:49,435 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 15:52:49,437 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("users")
2019-07-09 15:52:49,438 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 15:52:49,439 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'users' AND type = 'table'
2019-07-09 15:52:49,441 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 15:52:49,447 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2019-07-09 15:52:49,449 INFO sqlalchemy.engine.base.Engine ()
users

C:\Users\Cho Gyung Ah\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SADeprecationWarning: The MetaData.reflect flag is deprecated and will be removed in a future release.   Please use the MetaData.reflect() method.

In [38]:
tables = metadata.tables
for table in tables:
    print(table)

users

### SQL Alchemy ORM : Data Mapping to Classes

- Declare 
    declarative_base

In [39]:
from sqlalchemy import create_engine, MetaData

engine = create_engine("sqlite:///alchemy_core.db", echo=True)

from sqlalchemy.ext.declarative import declarative_base

base = declarative_base()

In [40]:
# create
# declarative_base 상속 class 선언

class User(base):
    __tablename__ = "users"
    
    id = Column(Integer, primary_key=True)
    name = Column(String)
    fullname = Column(String)
    password = Column("passwd", String)
    
    def __repr__(self):
        return "<T'User(name='%s', fullname= '%s', password='%s')>"\
    %(self.name, self.fullname, self.password)

In [41]:
User.__table__

Table('users', MetaData(bind=None), Column('id', Integer(), table=<users>, primary_key=True, nullable=False), Column('name', String(), table=<users>), Column('fullname', String(), table=<users>), Column('passwd', String(), table=<users>), schema=None)

In [42]:
# create Table
base.metadata.create_all(engine)

2019-07-09 15:52:49,708 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2019-07-09 15:52:49,709 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 15:52:49,711 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2019-07-09 15:52:49,713 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 15:52:49,715 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("users")
2019-07-09 15:52:49,716 INFO sqlalchemy.engine.base.Engine ()

In [43]:
# Create INstance
kim = User(name="kim", fullname="annonymous, Kim", password="kimbap heaven")

print(kim)
print(kim.id)

<T'User(name='kim', fullname= 'annonymous, Kim', password='kimbap heaven')>
None

### Session
    - Session
    - Sessinmaker

In [44]:
from sqlalchemy.orm import sessionmaker

Session = sessionmaker(bind=engine)
session = Session()

In [45]:
# insert 
# - add
# - addall

session.add(kim)

session.add_all([
    User(name="lee", fullname="unknown, Lee", password="123456789a"),
    User(name="park", fullname="nobody, Park", password="Parking in Park")
])
#p pending

In [46]:
print(kim.id)

None

In [47]:
session.commit()

2019-07-09 15:52:49,908 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-07-09 15:52:49,911 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname, passwd) VALUES (?, ?, ?)
2019-07-09 15:52:49,912 INFO sqlalchemy.engine.base.Engine ('kim', 'annonymous, Kim', 'kimbap heaven')
2019-07-09 15:52:49,918 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname, passwd) VALUES (?, ?, ?)
2019-07-09 15:52:49,920 INFO sqlalchemy.engine.base.Engine ('lee', 'unknown, Lee', '123456789a')
2019-07-09 15:52:49,922 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname, passwd) VALUES (?, ?, ?)
2019-07-09 15:52:49,923 INFO sqlalchemy.engine.base.Engine ('park', 'nobody, Park', 'Parking in Park')
2019-07-09 15:52:49,926 INFO sqlalchemy.engine.base.Engine COMMIT

In [48]:
# dirty 싱크가 안맞는 것 
#비번 바꾸기
kim.password = 'password'

In [49]:
session.dirty

2019-07-09 15:52:50,015 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-07-09 15:52:50,018 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname
FROM users
WHERE users.id = ?
2019-07-09 15:52:50,020 INFO sqlalchemy.engine.base.Engine (4,)

IdentitySet([<T'User(name='kim', fullname= 'annonymous, Kim', password='password')>])

In [50]:
session.is_modified(kim) # commit 안하면 False, commit하면 True ?

True

In [51]:
session.commit()

2019-07-09 15:52:50,070 INFO sqlalchemy.engine.base.Engine UPDATE users SET passwd=? WHERE users.id = ?
2019-07-09 15:52:50,072 INFO sqlalchemy.engine.base.Engine ('password', 4)
2019-07-09 15:52:50,080 INFO sqlalchemy.engine.base.Engine COMMIT

In [52]:
session.dirty

IdentitySet([])

In [53]:
session.is_modified(kim) # commit 안하면 False, commit하면 True ?

False

In [54]:
# Commit 
# Select - query

for row in session.query(User):
    print(type(row))
    print(row.id, row.name, row.fullname, row.password)

2019-07-09 15:52:50,215 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-07-09 15:52:50,217 INFO sqlalchemy.engine.base.Engine SELECT users.passwd AS users_passwd, users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname
FROM users
2019-07-09 15:52:50,219 INFO sqlalchemy.engine.base.Engine ()
<class '__main__.User'>
1 kim annonymous, Kim password
<class '__main__.User'>
2 lee unknown, Lee 123456789a
<class '__main__.User'>
3 park nobody, Park Parking in Park
<class '__main__.User'>
4 kim annonymous, Kim password
<class '__main__.User'>
5 lee unknown, Lee 123456789a
<class '__main__.User'>
6 park nobody, Park Parking in Park

In [55]:
# filter
# filter_by <- 사람들은 이걸 추천 

# for row in session.query(user.id, User.fullname).filter(User.name == "lee"):
#     print(type(row))
#     print(row.id, row.fullname)

for row in session.query(User.id, User.fullname).filter_by(name = "lee"):
    print(type(row))
    print(row.id, row.fullname)

2019-07-09 15:52:50,254 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.fullname AS users_fullname
FROM users
WHERE users.name = ?
2019-07-09 15:52:50,255 INFO sqlalchemy.engine.base.Engine ('lee',)
<class 'sqlalchemy.util._collections.result'>
2 unknown, Lee
<class 'sqlalchemy.util._collections.result'>
5 unknown, Lee

In [56]:
# close
conn.close()
metadata.clear()

Artist Album ... 예제

In [57]:
from sqlalchemy import create_engine, MetaData

engine = create_engine("sqlite:///alchemy_core.db", echo=True)

from sqlalchemy.ext.declarative import declarative_base

Base = declarative_base()

In [58]:
# Create

class Artist(Base):
    __tablename__="Artist"
    
    id = Column(Integer, primary_key=True)
    name = Column(String)
    
class Album(Base):
    __tablename__="Album"
    
    id = Column(Integer, primary_key=True)
    title= Column(String)
    artist_id = Column(Integer, ForeignKey("Artist.id"))

class Genre(Base):
    __tablename__ = "Genre"
    
    id = Column(Integer, primary_key=True)
    name= Column(String)
    
class Track(Base):
    __tablename__="Track"
    
    id= Column(Integer, primary_key=True)
    title = Column(String)
    length = Column(Integer)
    rating = Column(Integer)
    count = Column(Integer)
    album_id = Column(Integer, ForeignKey("Album.id"))
    genre_id = Column(Integer, ForeignKey("Genre.id"))

In [60]:
# Insert
artist1 = Artist(name="Led Zepplin")
artist2 = Artist(name= "AC/DC" )

session.add_all([artist1, artist2])
session.commit()

album= [Album(title= "IV", artist_id=artist1.id),
       Album(title= "Who Made WHo", artist_id=artist2.id)]

session.add_all(album)
session.commit()

session.add_all([Genre(name="Rock" ), Genre(name="Metal")])
session.commit()

album1 = session.query(Album).filter(Album.artist_id==artist1.id).one()
album2 = session.query(Album).filter(Album.artist_id==artist2.id).one()

genre1 = session.query(Genre).filter(Genre.name=="Rock").filter(Genre.id==1).one()
genre2 = session.query(Genre).filter(Genre.name=="Metal").filter(Genre.id==2).one()

track = [Track(title= "Black Dog", rating=5, length= 297, count=0, album_id=album1.id, genre_id=genre1.id),
         Track(title= "Stairway", rating=5, length= 482, count=0, album_id=album1.id, genre_id=genre2.id),
         Track(title= "About to Rock" , rating=5, length= 313, count=0, album_id=album2.id, genre_id=genre1.id),
         Track(title= "Who Made Who", rating=5, length= 297, count=0, album_id=album2.id, genre_id=genre2.id)]

session.add_all(track)
session.commit()

In [ ]:
# close
conn.close()
metadata.clear()

### Relationship

In [ ]:
from sqlalchemy.orm import sessionmaker, relationship, backref

In [ ]:
class User(Base):
    __tablename__ = "users"
    
    id = Column(Integer, primary_key=True)
    name = Column(String)
    fullname = Column(String)
    password = Column("passwd", String)
    
    def __repr__(self):
        return "<User(name='%s', fullname= '%s', password='%s')>"\
    %(self.name, self.fullname, self.password)

In [ ]:
class Address(Base):
    __tablename__ = "addresses"
    
    id = Column(Integer, primary_key=True)
    email_address = Column(String, nullable=False)
    user_id = Column(Integer, ForeignKey("users.id"))
    
    def __repr__(self):
        return "<User(email_address='%s')>"\
    % self.email_address

In [ ]:
# Create
class Artist(Base):
    __tablename__ = "Artist"
    
    id = Column(Integer, primary_key = True)
    name = Column(String)
    
    albumList = relationship("Album", back_populates="artist")
    
class Album(Base):
    __tablename__ = "Album"
    
    id = Column(Integer, primary_key=True)
    title =Column(String)
    artist_id = Column(Integer, ForeignKey("Artist.id"))
    
    artist = relationship("Artist", back_populates="albumList", uselist=False)
    trackList = relationship("Track", back_populates="album")
    
class Genre(Base):
    __tablename__ = "Genre"
    
    id = Column(Integer, primary_key=True)
    name =Column(String)
    
    trackList = relationship("Track", back_populates="genre")

class Track(Base):
    __tablename__ = 'Track'
    
    id = Column(Integer, primary_key=True)
    title= Column(String)
    length= Column(Integer)
    rating= Column(Integer)
    count= Column(Integer)
    artist_id = Column(Integer, ForeignKey("Artist.id"))
    genre_id = Column(Integer, ForeignKey("Genre.id"))
    
    album = relationship("Album", back_populates="trackList", uselist=False)
    genre = relationship("Genre", back_populates="trackList", uselist=False)

## Regular expression 정규표현식
- 자연어처리 때 중요하다. 

- 속도가 제일 빠르다. 
- 따라서 자연어 처리할 때 많이 쓴다. 

- 자연어는 패턴을 찾기 어렵다. 패턴을 만들려고 노력하는 것 
- a special text string for describing a search pattern 
- seaching, replacing, and parsing text with complex patterns of characters 

- 엄청난 양의 데이터를 처리하는데 속도가 가장 빠르다.

- a learning curve: 익숙해지기끼지 시간이 오래걸린다.

alternative

grouping

quantification 

anchors

meta-characters

character classes

from IPython.display import Image
 
Image("img/picture.png") # code안에서 나오게 할 때
![title](img/picture.png) # markdown안에서 나오게 할 때

\: word boundary
\b[\w.%+-]+@[\w.-]+\.[a-zA-Z]{2,6}\b
username@domain.com

In [69]:
import re # regular expression

re.compile() # 많이 쓴다. 패턴찾기

re.search 중간에 찾는 것 

re.match 처음부터 찾는다.

re.split # 가장 많이 쓴다. 특정 패턴이 나올 때마다 짜른다.

In [75]:
content ="Hello World"

print(re.search("W", content))

<re.Match object; span=(6, 7), match='W'>

In [74]:
print(re.match("W", content))

None

In [ ]:
# re.sub -> replace 시키는 것 

# 정규식을 모를 때
data= """
park 890904-102342
kim 930220-2444218
"""

# result= []
# for line in data.split("\n"): .......

In [77]:
# 정규식을 알 때 
data= """
park 890904-1023342
kim 930220-2444218
"""

pat = re.compile("(\d{6})[-]\d{7}")
print(pat.sub("\g<1>-*******",data))

park 890904-*******
kim 930220-*******

In [78]:
# Meta Character
# |
p=re.compile('Crow|servo')
m=p.match('CrowHello')
print(m)

<re.Match object; span=(0, 4), match='Crow'>

In [80]:
# ^
print(re.search('^Life','Life is too short'))
print(re.search('^Life','My Life'))

<re.Match object; span=(0, 4), match='Life'>
None

In [82]:
# $
print(re.search('short$', 'Life is too short'))
print(re.search('short$', 'Life is too short, you need python'))

<re.Match object; span=(12, 17), match='short'>
None

In [83]:
# +
p=re.compile('(ABC)+')
m=p.search('ABCABCABC OK?')
print(m.group())

ABCABCABC

In [87]:
# \b
p=re.compile(r'\bclass\b')
print(p.search('no class at all'))
print(p.search('one subclass is'))
print(p.search('the declassified algorithm'))

<re.Match object; span=(3, 8), match='class'>
None
None

In [90]:
# \B
p=re.compile(r'\Bclass\B')
print(p.search('no class at all'))
print(p.search('the declassified algorithm'))

None
<re.Match object; span=(6, 11), match='class'>

In [91]:
# group
p= re.compile(r"\w+\s+\d+[-]\d+[-]\d+")
m= p.search("park 010-1234-1234")
print(m)

<re.Match object; span=(0, 18), match='park 010-1234-1234'>

In [92]:
m=re.match(r"(\w+) (\w+)", "Issac Newton, physicist")
print(m.group(0))
print(m.group(1))
print(m.group(2))
print(m.group(1,2))

Issac Newton
Issac
Newton
('Issac', 'Newton')

In [94]:
p=re.compile(r"(\w+) (\w+)")
m=p.search("Issac Newton, physicist")
print(m.group())

p.sub("\g<2> \g<1>", "Issac Newton, physicist")

Issac Newton

'Newton Issac, physicist'