In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

## Structure Data

- db, 
- orm, 
- semi structure, 파싱, 비정형(웹)- static, dynamic 
- Json, xml
- 웹에서 내가 원하는 데이터를 수집 unstructed, structed, semi structed 

- unstructured 80%, structured 20%

1.1. 데이터베이스 개요 DBMS

- 데이터베이스 조건: 통합(중복이 있으면 안된다), 저장, 공유, 운영
- 데이터베이스 특징:
            1. 실시간 접근성
            2. 계속적인 변화
            3. 동시 공유 가능
            4. 내용에 의한 참조 가능 

- DBMS 역할 
        1. create DB
        2. insert, update and delete data
        3. sort and query data
        4. create form and report 
        
- DBMS 종류
        1. 계층형 모델 
        2. 네트워크형 모델
        3. 관계 데이터 모델 -> Table (Coloum) [light SQL]
        4. 객체 관계 모델 -> Object

- elastic search 

1.2. RDBMS
- 데이터 안정성
- 동시 접근성
- 장애 허용성
- 데이터 무결성
- 데이터 확장성
- 데이터 보고서 

- RDBMS Concepts
        * Relation/ Table
        * Tuple/ Row or Record
        * Attribute/ Column or Field
        * Cardinality/ Number of Rows
        * Degree/ Number of Columns
        * Domain/ Pool or legal values
        * Primary Key/ Unique identifier
        
- 개체 관계 모델(Entity-Relationship Model)
        - 개체: 실 세계에 존재하는 분리된 실제 하나를 표현, 일반적으로 명사 하나에 해당
        - 관계: 마름모 
        - 속성
        - 기본키(PK): 모든 개체를 고유하게 식별할 수 있는 속성

1.3. SQL
- Structured Query Language 

- SQL 명령
        * 데이터 정의 언어 DDL(Data Definition Language) 
            - Create, Drop, Alter, Truncate...
        * 데이터 조작 언어 DML(Data Manipulation Languague)
            - Insert, Update, Delete, Select...
        * 데이터 제어 언어 DCL(Data Control Langugae) 
            - Grant, Revoke...
            
- SQL 구문: 문, 절(Clause), 식(Expression), 술어(Predicate)

- Data type
        * Character String
        * Boolean
        * Binary String
        * Date Time
        * Number

In [1]:
10//-3

-4

In [2]:
10/3

3.3333333333333335

In [3]:
10//3

3

In [2]:
# SQL light
import sqlite3

In [3]:
sqlite3.version
sqlite3.version_info
sqlite3.sqlite_version
sqlite3.sqlite_version_info

'2.6.0'

(2, 6, 0)

'3.27.2'

(3, 27, 2)

In [4]:
# DB 연결(생성)
# conn=sqlite3.connect('경로'or':memory:') -> db 연결용
conn=sqlite3.connect(':memory:')

In [5]:
# cursor: 해당 데이터베이스 sql을 주고받기 위해서 (query 주고 받고 등 등 )
cur=conn.cursor()
type(cur)
dir(cur)


# sql 실행- 문을 전달
#   execute',
#  'executemany' -> 여러번 시행
#  'executescript - > 세미콜론이 여러개 있을 때 
# sql 패치 -> 전체 결과를 list 결과로 받아오는거 
#  'fetchall',
#  'fetchmany', -> 지정된 것만큼 결과 받는 것
#  'fetchone',

sqlite3.Cursor

['__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__next__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'arraysize',
 'close',
 'connection',
 'description',
 'execute',
 'executemany',
 'executescript',
 'fetchall',
 'fetchmany',
 'fetchone',
 'lastrowid',
 'row_factory',
 'rowcount',
 'setinputsizes',
 'setoutputsize']

In [6]:
cur.execute("select sqlite_version()")
cur.fetchall()

[('3.27.2',)]

In [7]:
# sql 구문을 마지막까지 잘 맞게 썼는지 알려주는 것
sqlite3.complete_statement("select sqlite_version();") # semicolon 안넣으면 False

True

In [8]:
# sql lite data type

### execute

In [10]:
# cur.execute('SQL')

In [11]:
cur.execute("create table people (name_last,age)")

who='Yeltsin'
age='72'

# This is the qmark style:
cur.execute("insert into people values (?,?)",(who,age))

# And this is the named style:
cur.execute("select*from people where name_last=:who and age=:age",{"who":who,"age":age})
cur.execute("""
    select * 
    from people 
    where name_last=:who and age=:age
""",{"who":who,"age":age})

print(cur.fetchone())

('Yeltsin', '72')

In [12]:
# executemany -> seq of parameters
# cur.executemany('SQL',params)

curData=[('A',1),('B',2),('C',3)]

# cur.executemany(sql,curData)
cur.executemany("INSERT INTO people VALUES(?,?)",curData)

In [13]:
dataDict=[{"who":"E","age":1},{"who":"F","age":"1"}]

# cur.executemany(sql,curData)
cur.executemany("INSERT INTO people VALUES(:who, :age)",dataDict)

In [14]:
cur.execute("SELECT * FROM people")
cur.fetchall()

[('Yeltsin', '72'), ('A', 1), ('B', 2), ('C', 3), ('E', 1), ('F', '1')]

In [14]:
# executescript('''SQL1; SQL2,...''') # commit statement first 

cur.executescript("""
    CREATE table person (
        first_name text primary key,
        last_name  text not null
    );
    insert into person values ('name','kim');
""")

In [15]:
cur.execute('select * from person')
print(cur.fetchall())

[('name', 'kim')]

In [47]:
# cur.fetchone() -> returning a single sequence
# cur.fetchmany(size)-> returning a list
# cur.fetchall()

In [45]:
# cur.close()    # ? 
conn.execute('drop table company')

In [46]:
# Drop
# cur.execute('drop table company')

In [47]:
# create
conn=sqlite3.connect('create.db')
print("Opened database successfully")

conn.execute('''
    CREATE TABLE COMPANY(
        ID INT PRIMARY KEY    NOT NULL,
        NAME           TEXT   NOT NULL,
        AGE            INT    NOT NULL,
        ADDRESS        CHAR(50),
        SALARY         REAL);
''')

print("Table created sucessfully")

Opened database successfully
Table created sucessfully

In [48]:
# Insert 
cur = conn.cursor()

cur.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY)\
VALUES (1, 'A', 10, 'California', 2000.00)");

cur.execute("INSERT INTO COMPANY(ID,NAME,AGE,ADDRESS,SALARY)\
VALUES (:id, :name, :age, :address, :salary)",
            {'id':2, 'name':'B', 'age':25, 'address':'Texas', 'salary':1500.00});

data = [(3, 'C', 23, 'Norway', 20000.00),
         (4, 'D', 25, 'korea', 5000.00)]

cur.executemany("INSERT INTO COMPANY (id, name, age, address, salary)\
                values(?,?,?,?,?)", data);

In [49]:
cur.executescript("""
    INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY)
    VALUES ( 5, 'E', 24, 'RICH-MOND',123123.00);
    VALUES (6, 'F',25,'RICH-MOND',123123.00);
""");

In [50]:
conn.commit()
print("Records created successfully")

Records created successfully

In [51]:
# select
cursor = conn.execute("select id, name, address, salary from COMPANY")
                      
for row in cursor:
    print("ID=", row[0])
    print("Name=", row[1])
    print("ADDRESS=", row[2])
    print("SALARY=", row[3], end='\n\n')

print("Operation done successfully")

ID= 1
Name= A
ADDRESS= California
SALARY= 2000.0

ID= 2
Name= B
ADDRESS= Texas
SALARY= 1500.0

ID= 3
Name= C
ADDRESS= Norway
SALARY= 20000.0

ID= 4
Name= D
ADDRESS= korea
SALARY= 5000.0

ID= 5
Name= E
ADDRESS= RICH-MOND
SALARY= 123123.0

Operation done successfully

In [52]:
cur.lastrowid, conn.total_changes  # 총 5번 바뀌었다는 것

(2, 5)

In [54]:
cur.execute('select * from company')

In [55]:
for row in cur:
    print(row)

(1, 'A', 10, 'California', 2000.0)
(2, 'B', 25, 'Texas', 1500.0)
(3, 'C', 23, 'Norway', 20000.0)
(4, 'D', 25, 'korea', 5000.0)
(5, 'E', 24, 'RICH-MOND', 123123.0)

In [67]:
cid=1 
cur.execute("update company set salary = 25000.00 where ID = :id", {'id':cid})
conn.commit()
print("Records created successfully")

Records created successfully

In [61]:
# delete
cur.execute("DELETE from company where ID=2;")

In [ ]:
# locked 에러 생길 때 
# pdf DB 생성(열기), cursor 생성 - 참조

In [ ]:
# DDL - create

In [ ]:
# 기본키 primary key / 참조키 foreign key

In [9]:
# close: db를 닫는것
cur.execute('drop table track') # 테이블만 내리는것

In [17]:
cur.commit()

In [11]:
cur=sqlite3.connect('create.db')
print("Opened database successfully")

cur.executescript("""
    create table artist( 
        id integer not null primary key autoincrement unique, 
        name text);
    create table genre(
        id integer not null primary key autoincrement unique,
        name text);        
    create table album(
        id integer not null primary key autoincrement unique,
        title text, 
        artist_id integer);    
    create table track(
        id integer not null primary key autoincrement unique,
        title text,
        length integer,
        rating integer,
        count integer,
        album_id integer,
        genre_id integer);
        
    
    insert into artist(name) values('Led Zepplin');
    insert into artist(name) values('AC/DC');

    insert into genre(name) values('Rock');
    insert into genre(name) values('Metal');
    insert into album(title, artist_id) values ('Who made who',2);
    insert into album(title, artist_id)values('IV',1);

    insert into track(title, rating, length, count, album_id, genre_id)values ('Black Dog',5, 297, 0, 2, 1);
    insert into track(title, rating, length, count, album_id, genre_id)values ('Stairway',5, 482, 0, 2, 1);
    insert into track(title, rating, length, count, album_id, genre_id)values ('Happy Day',5, 313, 0, 1, 2);
    insert into track(title, rating, length, count, album_id, genre_id)values ('Wanna',5, 207, 0, 1, 2);
""")

Opened database successfully

In [12]:
    """
    select id
    from artist
    where name='Led Zepplin'
    """

"\nselect id\nfrom artist\nwhere name='Led Zepplin'\n"

In [29]:
cur.execute("""
    insert into album(name, artist_id)
    values(:album, 
        (select id
        from artist
        where name =: artist))
""",{"album":"앨범이름", "artist":"가수이름"})

OperationalError: unrecognized token: ":"

In [14]:
# executemany로 구하는 법

# data = [('manually added','zara'),("The Don Killuminati: The 7 Day Theory","tupac"),('Morning Glory?','oasis')]

# cur.executemany("""
#     insert into album (title, artist_id)
#     values (?,(select id from artist where name=?));
#     """,data);

# conn.commit()

In [19]:
# inner_ join 

cur.execute('''
Select album.title, artist.name
from album 
join artist on album.artist_id=artist.id
''')

# cur.execute('''
# select Album.name,Aritst.name
# from Album
# join Aritst on Album.artist_id = Aritst.id
# ''')

In [23]:
cur.execute("""
select album.title, track.title
from track
join album on
track.album_id = album.id
""")

In [24]:
cur.commit()

In [28]:
cur.execute("""
select track.title,artist.name, album.title, genre.name
from track
join artist join album join genre on
track.album_id=album.id
and
track.genre_id=genre.id
and
album.artist_id=artist.id
""")